*.bak
*.bck
*.kicad_pcb-bak
*.swp
quadrant-v4-gerbers.zip
quadrant-v4-gerbers/quadrant-B_Cu.gbl
quadrant-v4-gerbers/quadrant-B_Mask.gbs
quadrant-v4-gerbers/quadrant-B_SilkS.gbo
quadrant-v4-gerbers/quadrant-Edge_Cuts.gm1
quadrant-v4-gerbers/quadrant-F_Cu.gtl
quadrant-v4-gerbers/quadrant-F_Mask.gts
quadrant-v4-gerbers/quadrant-F_Paste.gtp
kicad/.~lock.quadrant2.csv\#
quadrant-v4-gerbers/quadrant-F_SilkS.gto
quadrant-v4-gerbers/quadrant-In1_Cu.g2
quadrant-v4-gerbers/quadrant-In2_Cu.g3
quadrant-v4-gerbers/quadrant-NPTH-drl_map.gbr
quadrant-v4-gerbers/quadrant-NPTH.drl
quadrant-v4-gerbers/quadrant-PTH-drl_map.gbr
quadrant-v4-gerbers/quadrant-PTH.drl
kicad/quadrant.xml
quadrant-v4-gerbers-2/quadrant-B_SilkS.gbo
quadrant-v4-gerbers-2/quadrant-B_Cu.gbl
quadrant-v4-gerbers-2/quadrant-B_Mask.gbs
quadrant-v4-gerbers-2/quadrant-bottom-pos.csv
quadrant-v4-gerbers-2/quadrant-Edge_Cuts.gm1
quadrant-v4-gerbers-2/quadrant-F_Cu.gtl
quadrant-v4-gerbers-2/quadrant-F_Mask.gts
quadrant-v4-gerbers-2/quadrant-F_Paste.gtp
quadrant-v4-gerbers-2/quadrant-F_SilkS.gto
quadrant-v4-gerbers-2/quadrant-In1_Cu.g2
quadrant-v4-gerbers-2/quadrant-In2_Cu.g3
quadrant-v4-gerbers-2/quadrant-NPTH-drl_map.gbr
quadrant-v4-gerbers-2/quadrant-NPTH.drl
quadrant-v4-gerbers-2/quadrant-PTH-drl_map.gbr
quadrant-v4-gerbers-2/quadrant-top-pos.csv
quadrant-v4-gerbers-2/quadrant-PTH.drl
*.csv
*.drl
*.g3
*.g3
*.gbr
*.g2
*.gto
*.gtp
*.gtp
*.gtl
*.gts
*.gm1
*.gm1
*.gbo
*.gbs
*.gbs
*.gbl
*.zip
~*.lck
