*.bak
*-bak
*.bck
*.swp
*.drl
*.g3
*.g3
*.gbr
*.g2
*.gto
*.gtp
*.gtp
*.gtl
*.gts
*.gm1
*.gm1
*.gbo
*.gbs
*.gbs
*.gbl
*.zip
*.xml
kicad/production/
kicad/jlcpcb/
~*.lck
kicad/production/bom.csv
kicad/production/bom.csv
kicad/production/bom.csv
kicad/production/designators.csv
kicad/production/bom.csv
